table {
    width: 100%;
}

td
{
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.count-col, .price-col, .quantity-col {
    width: 1%;
    text-align: center;
}

.name-col {
    width: 30%;
}

.table-products .name-col {
    width: 15%;
}

.category-col, .brand-col {
    width: 15%;
}

.location-col {
    width: 10%;
}

.buttons {
    width: 15%;
}

.desc {
    width: 57%;
}

.btn-danger {
    margin-left: 10px;
}

.table-row {
    height: 1%;
}

.title-add-btn {
    height: 10px;
    position: relative;
    bottom: 30px;
    margin-top: 60px;
}

.title-add-btn > *{
    display: inline-block;
    position: absolute;
}

.title {
    left: 0%;
    right: 0%;
    text-align: center;

}

.btn-add {    
    right: 0px;
} 